# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [30]:
import pandas as pd
import re

#### Import data set.

Import data set `Pokemon` from Ironhack's database. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [6]:
pokemon=pd.read_csv('/Users/sandrine/Desktop/Prework/806_Repo/Labs/module_1/Dataframe-Calculations/your-code/Pokemon.csv')

#### Print first 10 rows of `pokemon`.

In [12]:
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [23]:
type1values=list(pd.Series(pokemon['Type 1']).value_counts().to_dict().keys())
type2values=list(pd.Series(pokemon['Type 2']).value_counts().to_dict().keys())
type1values,type2values

(['Water',
  'Normal',
  'Grass',
  'Bug',
  'Psychic',
  'Fire',
  'Rock',
  'Electric',
  'Dragon',
  'Ghost',
  'Ground',
  'Dark',
  'Poison',
  'Fighting',
  'Steel',
  'Ice',
  'Fairy',
  'Flying'],
 ['Flying',
  'Ground',
  'Poison',
  'Psychic',
  'Fighting',
  'Grass',
  'Fairy',
  'Steel',
  'Dark',
  'Dragon',
  'Water',
  'Ice',
  'Rock',
  'Ghost',
  'Fire',
  'Electric',
  'Normal',
  'Bug'])

In [75]:
pokemon.Name.str.contains('Mega')

0      False
1      False
2      False
3       True
4      False
       ...
795    False
796     True
797    False
798    False
799    False
Name: Name, Length: 800, dtype: bool

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [100]:

def clean(x):
    if 'Mega'not in x:
        return x
    else:
        return re.match(r'.*(Mega.*)',x).group(1)
    
pokemon.Name=pokemon.Name.map(clean)

# test transformed data
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,NaN
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,1.103448,NaN
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.076923,Fire-Flying
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.171171,Fire-Dragon
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,1.333333,Fire-Flying
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,0.738462,NaN

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [41]:
pokemon['A/D Ratio']=pokemon.Attack/pokemon.Defense
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302

#### Identify the pokemon with the highest `A/D Ratio`.

In [48]:
pokemon[pokemon['A/D Ratio']==pokemon['A/D Ratio'].max()].Name

429    DeoxysAttack Forme
Name: Name, dtype: object

#### Identify the pokemon with the lowest A/D Ratio.

In [49]:
pokemon[pokemon['A/D Ratio']==pokemon['A/D Ratio'].min()].Name

230    Shuckle
Name: Name, dtype: object

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [105]:

pokemon['Combo Type']=pokemon['Type 1']+'-'+pokemon['Type 2'


pokemon['Combo Type'].map(combo('Type 1','Type 2'))

ValueError: too many values to unpack (expected 2)

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [115]:
top=[pokemon.Name.loc[i] for i in (pokemon['A/D Ratio'].sort_values(ascending=False).iloc[:5]).to_dict().keys()]
top

['DeoxysAttack Forme',
 'Carvanha',
 'Mega Beedrill',
 'Cranidos',
 'DeoxysNormal Forme']

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [126]:
pokemon[pokemon.Name.isin(top)].aggregate('Combo Type').to_list()

['Bug-Poison', 'Water-Dark', nan, nan, nan]

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [125]:
for x in pokemon[pokemon.Name.isin(top)].aggregate('Combo Type'):
    display(pokemon[pokemon['Combo Type']==x].describe())
    
pokemon.groupby[['Bug-Poison', 'Water-Dark', nan, nan, nan]].describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,A/D Ratio
count,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000
mean,199.166667,347.916667,53.750000,68.333333,58.083333,42.500000,59.333333,65.916667,2.333333,1.315989
std,222.750506,104.151514,13.837531,34.267221,20.930440,20.282101,23.457247,34.492314,1.723281,0.899693
min,13.000000,195.000000,30.000000,25.000000,30.000000,15.000000,20.000000,30.000000,1.000000,0.500000
25%,15.000000,257.500000,40.000000,48.750000,40.000000,28.750000,39.750000,43.750000,1.000000,0.750605
50%,108.000000,372.500000,60.000000,57.500000,54.500000,40.000000,64.500000,53.500000,1.500000,1.111798
75%,337.500000,408.750000,65.000000,90.000000,70.000000,51.250000,79.250000,78.750000,3.500000,1.339286
max,545.000000,495.000000,70.000000,150.000000,99.000000,90.000000,90.000000,145.000000,5.000000,3.750000

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,A/D Ratio
count,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000
mean,347.666667,493.833333,69.166667,120.000000,65.166667,88.833333,63.500000,87.166667,3.166667,2.291949
std,171.021246,113.596508,16.117279,25.099801,31.669649,17.949002,37.409892,25.127011,1.602082,1.245593
min,130.000000,305.000000,45.000000,90.000000,20.000000,65.000000,20.000000,55.000000,1.000000,1.411765
25%,318.250000,462.000000,64.750000,101.250000,46.750000,75.000000,43.750000,69.000000,3.000000,1.418937
50%,319.000000,499.000000,70.000000,120.000000,68.500000,92.500000,60.000000,88.000000,3.000000,1.711009
75%,336.250000,552.500000,71.500000,135.000000,81.250000,101.000000,69.500000,102.500000,3.000000,2.750000
max,658.000000,640.000000,95.000000,155.000000,109.000000,110.000000,130.000000,122.000000,6.000000,4.500000

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,A/D Ratio
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,A/D Ratio
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,A/D Ratio
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN